@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 1200px;
    margin: 0 auto;
}

.footer {
    margin-left: auto;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: white;
    padding-left: 150px;
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding-right: 150px;
}

.navbar ul li {
    color: white;
    font-size: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    height: 500px;
    color: white;
}

.top .text {
    padding-left: 150px;
    flex-basis: 400px;
    padding-top: 0;
}

.top .text h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.top .image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #94a0b1;
    flex-basis: 430px;
    margin-right: 150px;
}

.top .text button {
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    background-color: white;
}

.items {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.fake-image {
    width: 150px;
    height: 150px;
    border: 1px solid skyblue;
    border-radius: 20px;
}

.picture-item {
    display: flex;
    flex-direction: column;
}

.picture-item p {
    width: 150px;
    text-align: center;
}

.middle-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 0 200px;
    height: 350px;
}

.middle-bottom .citation {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
}

.middle-bottom .author {
    align-self: flex-end;
    font-weight: bolder;
    font-size: larger;
    margin-top: 0;
}

.bottom {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect {
    background-color: #3882f6;
    width: 900px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rect button {
    padding: 8px 30px;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.bottom-text h2 {
    margin-top: 50px;
    margin-bottom: 0;
}

.bottom-text p {
    margin-top: 0;
    margin-bottom: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 70px;
}

